body {
    background-color: black;
    font-family: 'Rock Salt', cursive;
    font-size: .95em;
}

#hideAll {
  position: fixed;
  left: 0px; 
  right: 0px; 
  top: 0px; 
  bottom: 0px; 
  background-color: lightgray;
  z-index: 99;
}

.first-tier {
    position: absolute;
    left: 0;
    right: 0;
}

.second-tier {
    position: absolute;
    left: 0;
    right: 0;
    z-index: 200;
}

.third-tier {
    position: absolute;
    left: 0;
    right: 0;
    z-index: 201;
}

#sammiEyes {
    width: 100%;
    margin-top: 100px;
}

#sammiCar {
    width: 53%;
    display: none;
    position: absolute;
    right: 0;
    left: 0;
    margin-top: 350px;
}

#sammiFirepit {
    width: 100%;
    position: absolute;
    right: 0;
    left: 0;
    margin-top: 25px;
    display: none;
}

#sammiBeach {
    width: 45%;
    position: absolute;
    right: 0;
    left: 0;
    margin-top: 325px;
    display: none;
}

#sammiSound {
    width: 53%;
    position: absolute;
    right: 0;
    left: 0;
    margin-top: 400px;
    display: none;
}

#sammiLuke {
    width: 100%;
    position: absolute;
    right: 0;
    left: 0;
    margin-top: 25px;
    display: none;
}

#sammiTrail {
    width: 100%;
    position: absolute;
    right: 0;
    left: 0;
    margin-top: 25px;
    display: none;
}

#sammiBeachBall {
    width: 100%;
    position: absolute;
    right: 0;
    left: 0;
    margin-top: 25px;
    display: none;
}

#sammiXmas {
    width: 100%;
    position: absolute;
    right: 0;
    left: 0;
    margin-top: 55px;
    display: none;
}

#sammiEyes2 {
    width: 100%;
    position: absolute;
    right: 0;
    left: 0;
    margin-top: 25px;
    display: none;
}

#sammiSnow {
    width: 100%;
    position: absolute;
    right: 0;
    left: 0;
    margin-top: 120px;
    display: none;
}

#sammiCar img {
    width: 100%;
    height: auto;
    box-shadow: 0px 0px 30px 7px white;
    border-radius: 2%;
}

#sammiFirepit img {
    width: 100%;
    height: auto;
    box-shadow: 0px 0px 30px 7px white;
    border-radius: 2%;
}

#sammiBeach img {
    width: 100%;
    height: auto;
    box-shadow: 0px 0px 30px 7px white;
    border-radius: 2%;
}

#sammiSound img {
    width: 100%;
    height: auto;
    box-shadow: 0px 0px 30px 7px white;
    border-radius: 2%;
}

#sammiLuke img {
    width: 100%;
    height: auto;
    box-shadow: 0px 0px 30px 7px white;
    border-radius: 2%;
}

#sammiTrail img {
    width: 100%;
    height: auto;
    box-shadow: 0px 0px 30px 7px white;
    border-radius: 2%;
}

#sammiBeachBall img {
    width: 100%;
    height: auto;
    box-shadow: 0px 0px 30px 7px white;
    border-radius: 2%;
}

#sammiXmas img {
    width: 100%;
    height: auto;
    box-shadow: 0px 0px 30px 7px white;
    border-radius: 2%;
}

#sammiEyes2 img {
    width: 100%;
    height: auto;
    box-shadow: 0px 0px 30px 7px white;
    border-radius: 2%;
}

#sammiEyes img {
    width: 100%;
    height: auto;
	-ms-transform: rotate(90deg); /* IE 9 */
	-webkit-transform: rotate(90deg); /* Chrome, Safari, Opera */
    transform: rotate(90deg);
    box-shadow: 0px 0px 30px 7px white;
    border-radius: 2%;
}

#sammiSnow img {
    width: 100%;
    height: auto;
    box-shadow: 0px 0px 30px 7px white;
    border-radius: 2%;
}

#inMemoriam {
    background: transparent;
    position: absolute;
    right: 0;
    left: 0;
    z-index: 100;
    color: lightgray;
    margin-top: 15px;
}

#miss {
    text-align: center;
    background: transparent;
    position: absolute;
    right: 0;
    left: 0;
    z-index: 100;
    color: lightgray;
    display: none;
    margin-top: 30px;
    font-size: 1em;
}

#inMemoriam p {
    margin-bottom: 20px;
    text-align: center;
}

#inMemoriam > #firstP {
    margin-bottom: 110px;
}

#quote {
    text-align: center;
    background: transparent;
    position: absolute;
    right: 0;
    left: 0;
    color: gray;
    margin-top: 10px;
    font-size: 1em;
    display: none;
}

@media (min-width: 576px) {
    body {
        font-size: 1em;
    }
}

@media (min-width: 768px) {
    body {
        font-size: 1.5em;
    }

    #quote {
        font-size: .9em;
    }
}

@media (min-width: 992px) {
    body {
        font-size: 1.5em;
    }
}

@media (min-width: 1200px) {
    body {
        font-size: 2em;
    }

    #quote {
        font-size: .74em;
    }

    #sammiSnow,
    #miss {
        width: 90%;
    }
}